python-packages/Django-1.1-beta-1.tar.gz
python-packages/django-pagination-1.0.5.tar.gz
python-packages/django-compress-1.0.1.tar.gz
python-packages/south-0.5.tar.gz
python-packages/simplejson-2.0.9.tar.gz